@import url("https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --FederalBlue: #03045e;
    --HonoluluBlue: #0077b6;
    --PacificCyan: #00b4d8;
    --NonPhotoBlue: #90e0ef;
    --LightCyan: #caf0f8;

    --background: rgb(239, 239, 239);

    --HeadlineFont: "Corben", cursive;
    --ParagraphFont: "Montserrat", sans-serif;
    --AlternativeParagraphFont: "Lato", sans-serif;
}
