@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #03045e;
    --secondary-color: #0077b6;
    --accent1-color: #00b4d8;
    --accent2-color: #90e0ef;
    --accent3-color: #caf0f8;
    /*--FederalBlue: #03045e;
    --HonoluluBlue: #0077b6;
    --PacificCyan: #00b4d8;
    --NonPhotoBlue: #90e0ef;
    --LightCyan: #caf0f8;*/

    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto", sans-serif;
    --paragraph-font: "Montserrat", sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #03045e; /* headlines on a white background */
    --headline-color-on-color: #caf0f8; /* headlines on a colored background */
    --paragraph-color-on-white: #03045e; /* paragraph text on a white background */
    --paragraph-color-on-color: #caf0f8; /* paragraph text on a colored background */
    --paragraph-background-color: #0077b6;
    --nav-link-color: #03045e;
    --nav-background-color: white;
    --nav-hover-link-color: #caf0f8;
    --nav-hover-background-color: #03045e;
}
/* General*/
.content {
    max-width: 1200px;
    margin: 0 auto;
}
body {
    background-color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}
h1,
h3,
h4 {
    font-family: var(--heading-font);
}
p {
    font-family: var(--paragraph-font);
}

/*Header*/
header {
    background-color: rgba(226, 226, 226, 0.247);
    font-family: var(--heading-font);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 280px 0 280px;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 35px;
}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    transform: scale(1.1);
}
nav {
    grid-column: 3/6;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 0 25px;
}
#logo_link {
    align-self: center;
    grid-column: 2/3;
    text-align: center;
}
.logo {
    width: 125px;
}
.logo:hover {
    transform: scale(1.1);
}

/*Intro Box*/
#intro-box {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 150px 1fr 200px;
}

#intro-img {
    width: 1200px;
    height: 669px;
    grid-column: 1/5;
    z-index: -1;
}
#intro-msg {
    background-color: #0076b688;
    width: 490px;
    height: 271px;
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 0;
}
#intro-msg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
}
#intro-msg h4 {
    height: 14px;
    padding: 5px;
    font-size: 14px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 0;
    margin-top: 20px;
    text-align: left;
    color: var(--headline-color-on-color);
}
#intro-msg h1 {
    height: 32px;
    font-size: 32px;
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0;
    padding: 3px;
    text-align: left;
    color: var(--headline-color-on-color);
}
#intro-msg p {
    font-size: 14px;
    height: 77px;
    margin: 0;
    padding: 3px;
    grid-row: 3/4;
    grid-column: 1/2;
    color: var(--headline-color-on-color);
}
#intro-social {
    grid-row: 4/5;
    grid-column: 1/2;
}
strong {
    color: var(--headline-color-on-white);
}

.icon {
    width: 50px;
    margin: 0 10px;
}
.icon:hover {
    transform: scale(1.1);
}
/*Main */
#about-myself h1 {
    font-family: var(--heading-font);
    font-size: 32px;
    height: 32px;
    text-align: center;
}
#about-myself p {
    font-family: var(--paragraph-font);
    font-size: 16px;
    height: 120px;
    text-align: justify;
}
#about-myself {
    margin: 120px 100px 30px 100px;
}

#tools {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 34px 1fr 1fr;
    justify-items: center;
    align-items: center;
}
#tools h1 {
    font-family: var(--heading-font);
    font-size: 32px;
    height: 32px;
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 0;
}
#box-tools-1,
#box-tools-2,
#box-tools-3,
#box-tools-4 {
    border: solid black;
    width: 100px;
    height: 135px;
    border-radius: 25px;
    text-align: center;
    margin: 25px 0;
    align-self: center;
}
#box-tools-1 {
    grid-column: 2/3;
    grid-row: 2/3;
}
#box-tools-2 {
    grid-column: 3/4;
    grid-row: 2/3;
}
#box-tools-3 {
    grid-column: 2/3;
    grid-row: 3/4;
}
#box-tools-4 {
    grid-column: 3/4;
    grid-row: 3/4;
}
.tools-icon {
    width: 85px;
    height: 90px;
    margin: 25px 0;
}
#box-projects {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr) 100px;
    grid-template-rows: 32px 1fr;
}
#box-1p {
    grid-column: 2/3;
    grid-row: 2/3;
}
#box-2p {
    grid-column: 3/4;
    grid-row: 2/3;
}
#box-3p {
    grid-column: 4/5;
    grid-row: 2/3;
}
#box-projects h1 {
    font-family: var(--heading-font);
    font-size: 32px;
    height: 32px;
    text-align: center;
    margin: 0;
    grid-column: 2/5;
    grid-row: 1/2;
}
#box-1p,
#box-2p,
#box-3p {
    border: solid black;
    border-radius: 50px;
    width: 250px;
    height: 420px;
    text-align: center;
    margin: 50px 10px;
}
#box-1p img,
#box-2p img,
#box-3p img {
    width: 209px;
    height: 174px;
    margin: 15px;
}
#box-1p h3,
#box-2p h3,
#box-3p h3 {
    font-family: var(--heading-font);
    font-size: 16px;
    height: 17px;
    margin: 0;
    text-align: center;
}
#box-1p p,
#box-2p p,
#box-3p p {
    font-family: var(--paragraph-font);
    font-size: 14px;
    height: 110px;
    text-align: justify;
    margin: 15px;
}
.button-project,
.button-contact {
    text-align: center;
}
.more-info,
.contact {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 25px;
    border-radius: 5px;
}
.more-info:hover,
.contact:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}
.invitation-box p {
    text-align: center;
    margin-top: 100px;
}

/*Project page*/

main h1 {
    text-align: center;
    margin: 25px 0;
    font-size: 40px;
    font-family: var(--heading-font);
}

#box-section-01 {
    display: grid;
    grid-template-columns: 100px 1fr 50px 1fr 100px;
    grid-template-rows: 50px 1fr 50px;
    margin: 50px 0;
}
#box-section-01 h2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 32px;
}
#box-section-01 p {
    grid-column: 2/3;
    grid-row: 2/4;
    font-size: 22px;
    font-family: var(--paragraph-font);
    text-align: justify;
    margin: 30px 25px;
}
#box-section-01 a {
    grid-column: 2/3;
    grid-row: 5;
    text-align: center;
    margin: 0 200px;
}

#box-slider {
    grid-column: 4/5;
    grid-row: 1/4;
    align-self: center;
}

#box-section-02 {
    display: grid;
    grid-template-columns: 100px 1fr 50px 1fr 100px;
    grid-template-rows: 150px 1fr 1fr;
    margin: 50px 0;
}
#box-section-02 h2 {
    text-align: center;
    grid-column: 4/5;
    grid-row: 1/2;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 32px;
}
#box-section-02 p {
    grid-column: 4/5;
    grid-row: 2/4;
    font-size: 22px;
    font-family: var(--paragraph-font);
    text-align: justify;
    margin: 30px 25px;
}
#box-section-02 img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
}
#box-section-02 a {
    grid-column: 4/5;
    grid-row: 5;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 0 200px;
}

#box-section-03 {
    display: grid;
    grid-template-columns: 100px 1fr 50px 1fr 100px;
    grid-template-rows: 50px 1fr 1fr;
    margin: 50px 0;
}
#box-section-03 h2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    font-family: var(--heading-font);
    font-size: 32px;
}
#box-section-03 p {
    grid-column: 2/3;
    grid-row: 2/4;
    font-size: 22px;
    font-family: var(--paragraph-font);
    text-align: justify;
    margin: 30px 25px;
}
#box-section-03 img {
    width: 100%;
    grid-column: 4/5;
    grid-row: 1/4;
    align-self: center;
}
#box-section-03 a {
    grid-column: 2/3;
    grid-row: 5;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 0 200px;
}
#values-box {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
}
#values-box h1 {
    grid-column: 2/5;
    grid-row-start: 1;
    text-align: center;
    font-size: 32px;
    font-family: var(--heading-font);
    margin: 50px 0;
    height: 40px;
}
#value-01 {
    grid-column: 2/3;
    grid-row: 2/3;
    border: solid black;
    margin: 0 20px;
}
#value-01 h2,
#value-02 h2,
#value-03 h2 {
    text-align: center;
    margin: 10px;
}
#value-01 p,
#value-02 p,
#value-03 p {
    text-align: justify;
    margin: 10px;
    font-family: var(--paragraph-font);
}
#value-02 {
    grid-column: 3/4;
    grid-row: 2/3;
    border: solid black;
    margin: 0 20px;
}
#value-03 {
    grid-column: 4/5;
    grid-row: 2/3;
    border: solid black;
    margin: 0 20px;
}

* {
    box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/*Footer*/
footer {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: var(--nav-hover-link-color);
    text-decoration: none;
}
footer a:hover {
    color: var(--nav-link-color);
}

/* Contact Us */
#contactus-main {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 100px 1fr 350px 1fr 100px;
}
#img-backgroung {
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/7;
    z-index: -2;
}

form {
    color: var(--paragraph-color-on-color);
    grid-column: 2/3;
    background-color: #0076b6bd;
    /* Center the form on the page */
    grid-row: 3/4;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 1em;
    margin: 0 10px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 100px;
    text-align: right;
    font-family: var(--paragraph-font);
}
input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}
.buttoncontac {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
}
form button {
    margin-left: 100px;
}

#final-contact {
    background-color: #0076b6bd;
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 1em;
    width: 490px;
    height: 271px;
    grid-column: 3/5;
    grid-row: 3/4;
    align-self: center;
    margin: 0 25px;
}
#final-contact h3, #final-contact p {
    font-family: var(--paragraph-font);;
    color: var(--paragraph-color-on-color);
}
